*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.search-bar{
  border: none;
}

.search-bar:focus{
  outline: none;
}

::-webkit-scrollbar{
  width: 0;
  height: 5px;
}

a{
  color: white;
  text-decoration: none;
}


.category-btn{
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 20px;
  border: none;
  outline: none;
  margin: 2px 5px;
  color: white;
  background: black;
  gap: 5px;
  transition: all .2s ease-in-out;

}


.category-btn:hover{
  background-color: red;
}

.searchterm{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}